@media screen and (max-width:600px){
    .table-size{
        overflow-x:auto;
    }
}

.custom-tab {
    border: 1px solid #0a0a0a !important;
    color: black !important;
    background-color: #779ECB !important;
    border-radius: 20px !important;
    padding: 30px 25px !important;
    margin: 5px !important;
    width: 330px !important;
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
}

.selected-tab {
    border: 5px solid #779ECB !important;
    color: white !important;
    background-color: #386394 !important;
    border-radius: 20px !important;
    font-weight: bold !important;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #313532;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3e423f;
    border-radius: 6px;
    border: 3px solid #313532;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #626a64;
  }
  
  