0 3 * * * /home/weather/cron_scripts/pull_data.sh 18 >> /home/weather/log 2>&1
0 7 * * * /home/weather/cron_scripts/pull_data.sh 0 >> /home/weather/log 2>&1
15 12 * * * /home/weather/cron_scripts/pull_data.sh 6 >> /home/weather/log 2>&1
50 17 * * * /home/weather/cron_scripts/pull_data.sh 12 >> /home/weather/log 2>&1
