0 3 * * * /home/weather/cron_scripts/pull_data.sh 18
0 8 * * * /home/weather/cron_scripts/pull_data.sh 0
15 12 * * * /home/weather/cron_scripts/pull_data.sh 6
50 17 * * * /home/weather/cron_scripts/pull_data.sh 12
